
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CellphoneStore.Models.CartInfo cartInfo = Session["CartInfo"] as CellphoneStore.Models.CartInfo;
}
@model List<CellphoneStore.Models.CartItem>
@if (Model == null)
{
    <div>
        <h3>Giỏ hàng trống, thanh toán không khả dụng</h3>
        <a href="@Url.Action("AllProduct", "Product")"><input class="btn btn-warning" type="button" value="Tiếp tục mua sắm" /></a>
    </div>
}
else
{
    <form method="post" action="@Url.Action("ProcessOrder", "Payment")">
        <div class="container" style="display: flex">
            <div class="payment-left">
                <h3>1.Chọn hình thức giao hàng</h3>
                <div class="payment-left-item borderbox">
                    <div class="radio payment-delivery-item">
                        <label><input type="radio" name="Delivery" value="Giao hàng tiết kiệm" checked>Giao hàng tiết kiệm</label>
                        <div class="payment-delivery-details">
                            <p>
                                <span>Giao vào @DateTime.Now.AddDays(7).ToString("dd/MM/yyyy")</span>
                                <span>20000đ</span>
                            </p>
                        </div>
                    </div>
                    <div class="radio payment-delivery-item">
                        <label><input type="radio" name="Delivery" value="Giao hàng tiêu chuẩn" checked>Giao hàng tiêu chuẩn</label>
                        <div class="payment-delivery-details">
                            <p>
                                <span>Giao vào @DateTime.Now.AddDays(5).ToString("dd/MM/yyyy")</span>
                                <span>43000đ</span>
                            </p>
                        </div>
                    </div>
                    <div class="radio payment-delivery-item">
                        <label><input type="radio" name="Delivery" value="Giao hàng nhanh">Giao hàng nhanh</label>
                        <div class="payment-delivery-details">
                            <p>
                                <span>Giao vào @DateTime.Now.AddDays(2).ToString("dd/MM/yyyy")</span>
                                <span>56000đ</span>
                            </p>
                        </div>
                    </div>
                </div>
                <h3>2.Thanh toán bằng xu</h3>
                <div class="payment-left-item borderbox">
                    <div class="checkbox payment-coin">
                        <label><input type="checkbox" value="">Sử dụng @ViewBag.Coin Xu (Ứng với @ViewBag.Coin VNĐ) để thanh toán</label>
                    </div>
                </div>
                <h3>3.Chọn hình thức thanh toán</h3>
                <div class="payment-left-item borderbox">
                    <div class="payment-option radio">
                        <label>
                            <input type="radio" name="Payment" value="Thanh toán tiền mặt khi nhận hàng" checked>
                            <img src="~/Content/Logo/icon-payment-method-cod.png" />
                            Thanh toán tiền mặt khi nhận hàng
                        </label>
                    </div>
                    <div class="payment-option radio">
                        <label>
                            <input type="radio" name="Payment" value="Thanh toán bằng thẻ quốc tế Visa, Master, JCB" disabled>
                            <img src="~/Content/Logo/icon-payment-method-credit.png" />
                            Thanh toán bằng thẻ quốc tế Visa, Master, JCB
                        </label>
                    </div>
                    <div class="payment-option radio">
                        <label>
                            <input type="radio" name="Payment" value="Thanh toán bằng thẻ ATM nội địa/Internet Banking" disabled>
                            <img src="~/Content/Logo/icon-payment-method-atm.png" />
                            Thanh toán bằng thẻ ATM nội địa/Internet Banking
                        </label>
                    </div>
                    <div class="payment-option radio">
                        <label>
                            <input type="radio" name="Payment" value="Thanh toán bằng ví Momo" disabled>
                            <img src="~/Content/Logo/icon-payment-method-mo-mo.png" />
                            Thanh toán bằng ví Momo
                        </label>
                    </div>
                    <div class="payment-option radio">
                        <label>
                            <input type="radio" name="Payment" value="Thanh toán bằng ví ZaloPay" disabled>
                            <img src="~/Content/Logo/icon-payment-method-zalo-pay.png" />
                            Thanh toán bằng ví ZaloPay
                        </label>
                    </div>
                </div>
            </div>
            <div class="payment-right">
                <div class="payment-right-item borderbox">
                    @Html.Action("GetShipmentDetails", "Cart", new { username = Session["Account"] })
                </div>
                <div class="payment-right-item borderbox">
                    <div class="payment-title">
                        <span>Đơn hàng (@Session["Amount"].ToString() sản phẩm)</span>
                        <a href="@Url.Action("Cart", "Cart")"><input type="button" class="btn btn-default" value="Sửa" /></a>
                    </div>
                    <div class="payment-cart">
                        @foreach (var item in Model)
                        {
                            <div class="payment-cart-item">

                                <div class="payment-cart-info">
                                    <strong>@item.Amount x </strong>@item.ProductVersionName
                                </div>
                                <div class="payment-cart-price">
                                    <p>@item.TotalPrice VNĐ</p>
                                </div>

                            </div>
                        }
                        <div class="payment-sumary">
                            <div class="payment-sumary-item">
                                <div class="inner">
                                    <p>Tạm tính</p>
                                    <p>@cartInfo.CartTotalPrice VNĐ</p>
                                </div>
                            </div>
                            <div class="payment-sumary-item">
                                <div class="inner">
                                    <p>Giảm giá</p>
                                    <p>@cartInfo.Discount VNĐ</p>
                                </div>
                            </div>
                            <div class="payment-total">
                                <p>Thành tiền</p>
                                <p style="color: orangered">@cartInfo.IntoMoney VNĐ</p>
                            </div>
                            <div style="text-align:end">
                                <i>Đã bao gồm VAT(Nếu có)</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <input class="btn btn-warning" type="submit" value="Thanh toán" style="width: 100%" />
                </div>
                <div>
                    <i>(Xin vui lòng kiểm tra lại đơn hàng trước khi Đặt Mua)</i>
                </div>
            </div>
        </div>
    </form>

}
