
@{
    ViewBag.Title = "AllProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc;
@model PagedList.IPagedList<Model_CellphoneStore.ProductVersionMapped>
<div class="container" style="margin-left: -30px">
    <div class="banner-top">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="col-sm-6">
                        <img src="~/Content/Banner/Product_Banner/595x100iPhone-12-v2.jpg" />
                    </div>
                    <div class="col-sm-6">
                        <img src="~/Content/Banner/Product_Banner/11_pro_max_26.5.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-6">
                        <img src="~/Content/Banner/Product_Banner/Cate_595x100_2.jpg" />
                    </div>
                    <div class="col-sm-6">
                        <img src="~/Content/Banner/Product_Banner/Banner-chung-595x100.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-6">
                        <img src="~/Content/Banner/Product_Banner/iphone_8_plus_normal_sale_1.10_c.jpg" />
                    </div>
                    <div class="col-sm-6">
                        <img src="~/Content/Banner/Product_Banner/ip_11_26.5.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-6">
                        <img src="~/Content/Banner/Product_Banner/normal_sale_nokia_24.08.2020.jpg" />
                    </div>
                    <div class="col-sm-6">
                        <img src="~/Content/Banner/Product_Banner/Nokia2.4_Cate_595x100.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="row">
            <div class="main-left col-sm-2 borderbox">
                <h4>Màn hình</h4>
                <ul>
                    <li><a href="@Url.Action("AllProduct", "Product")" style="color: orangered">Tất cả</a></li>
                    <li><a href="@Url.Action("FilterProductVersionByScreenSize", "Product", new {minScreenSize = 0, maxScreenSize = 5})">&lt;5 inches</a></li>
                    <li><a href="@Url.Action("FilterProductVersionByScreenSize", "Product", new {minScreenSize = 5, maxScreenSize = 5.5})">Từ 5 đến 5.5 inches</a></li>
                    <li><a href="@Url.Action("FilterProductVersionByScreenSize", "Product", new {minScreenSize = 5.5, maxScreenSize = 6})">Từ 5.5 đến 6 inches</a></li>
                    <li><a href="@Url.Action("FilterProductVersionByScreenSize", "Product", new {minScreenSize = 6, maxScreenSize = 99})">&gt;&#61;6 inches</a></li>
                </ul>
                <h4>RAM</h4>
                <ul>
                    <li><a href="@Url.Action("AllProduct", "Product")" style="color: orangered">Tất cả</a></li>
                    <li><a href="@Url.Action("FilterProductVersionByRAM", "Product", new {ram = "3 GB"})">3GB</a></li>
                    <li><a href="@Url.Action("FilterProductVersionByRAM", "Product", new {ram = "4 GB"})">4GB</a></li>
                    <li><a href="@Url.Action("FilterProductVersionByRAM", "Product", new {ram = "6 GB"})">6GB</a></li>
                    <li><a href="@Url.Action("FilterProductVersionByRAM", "Product", new {ram = "8 GB"})">8GB</a></li>
                    <li><a href="@Url.Action("FilterProductVersionByRAM", "Product", new {ram = "12 GB"})">12GB</a></li>
                </ul>
                <h4>ROM</h4>
                <ul>
                    <li><a href="@Url.Action("AllProduct", "Product")" style="color: orangered">Tất cả</a></li>
                    <li><a href="@Url.Action("FilterProductVersionByROM", "Product", new {rom = "32 GB"})">32GB</a></li>
                    <li><a href="@Url.Action("FilterProductVersionByROM", "Product", new {rom = "64 GB"})">64GB</a></li>
                    <li><a href="@Url.Action("FilterProductVersionByROM", "Product", new {rom = "128 GB"})">128GB</a></li>
                    <li><a href="@Url.Action("FilterProductVersionByROM", "Product", new {rom = "256 GB"})">256GB</a></li>
                    <li><a href="@Url.Action("FilterProductVersionByROM", "Product", new {rom = "512 GB"})">512GB</a></li>
                </ul>
                <h4>Hệ điều hành</h4>
                <ul>
                    <li><a href="@Url.Action("AllProduct", "Product")" style="color: orangered">Tất cả</a></li>
                    <li><a href="@Url.Action("FilterProductVersionByOS", "Product", new {os = "Android"})">Android</a></li>
                    <li><a href="@Url.Action("FilterProductVersionByOS", "Product", new {os = "IOS"})">IOS</a></li>
                </ul>
            </div>
            <div class="main-right col-sm-10 borderbox">
                <div class="product-container">
                    <h4>Mua điện thoại giá rẻ</h4>
                    <div>
                        @Html.Action("GetAllBrand", "Product")
                    </div>
                    <div class="row filter-price">
                        <div class="col-sm-8">
                            <strong>Chọn mức giá: </strong>
                            <a href="@Url.Action("FilterProductVersionByPrice", "Product", new {minPrice = 0, maxPrice = 5000000})">Dưới 5 triệu&emsp;</a>
                            <a href="@Url.Action("FilterProductVersionByPrice", "Product", new {minPrice = 5000000, maxPrice = 10000000})">5 - 10 triệu&emsp;</a>
                            <a href="@Url.Action("FilterProductVersionByPrice", "Product", new {minPrice = 10000000, maxPrice = 15000000})">10 - 15 triệu&emsp;</a>
                            <a href="@Url.Action("FilterProductVersionByPrice", "Product", new {minPrice = 15000000, maxPrice = 20000000})">15 - 20 triệu&emsp;</a>
                            <a href="@Url.Action("FilterProductVersionByPrice", "Product", new {minPrice = 20000000, maxPrice = 99999999})">Trên 20 triệu</a>
                        </div>
                        <div class="col-sm-4">
                            <div class="filter-price-right">
                                <strong>Sắp xếp theo: </strong>
                                <a href="@Url.Action("SortProductVersionByPrice", "Product", new {sortOption = "desPrice"})"><i class="fa fa-sort-amount-asc" aria-hidden="true">Giá cao&emsp;</i></a>
                                <a href="@Url.Action("SortProductVersionByPrice", "Product", new {sortOption = "ascPrice"})"><i class="fa fa-sort-amount-asc" aria-hidden="true">Giá thấp</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="list-product">
                        @foreach (var item in Model)
                        {
                        <table class="product-item">
                            <tr>
                                <td>
                                    <a href="@Url.Action("ProductDetails", "Product", new {productVersionID = item.ProductVersionID})">
                                        <img src="~/Content/Images/Product/@item.Image" width="185" height="185" />
                                    </a>
                                </td>
                            </tr>
                            <tr style="height: 70px">
                                <td>
                                    <p>@item.ProductVersionName</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b style="color: orangered">@item.Price VNĐ</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><strike>@item.ListPrice VNĐ</strike></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>
                                        <i class="fa fa-star checked" aria-hidden="true"></i>
                                        <i class="fa fa-star checked" aria-hidden="true"></i>
                                        <i class="fa fa-star checked" aria-hidden="true"></i>
                                        <i class="fa fa-star checked" aria-hidden="true"></i>
                                        <i class="fa fa-star checked" aria-hidden="true"></i>
                                        10 đánh giá
                                    </span>
                                </td>
                            </tr>
                        </table>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6 ">
                <ul class="pagination pages">
                    @if (ViewData["State"].Equals("AllProduct"))
                    {
                        <li>@Html.PagedListPager(Model, pageIndex => Url.Action("AllProduct", "Product", new { pageIndex }))</li>
                    }
                    else if (ViewData["State"].Equals("SortByPrice"))
                    {
                        <li>@Html.PagedListPager(Model, pageIndex => Url.Action("SortProductVersionByPrice", "Product", new { pageIndex, sortOption = ViewData["Option"] }))</li>
                    }
                    else if (ViewData["State"].Equals("FilterByRam"))
                    {
                        <li>@Html.PagedListPager(Model, pageIndex => Url.Action("FilterProductVersionByRAM", "Product", new { pageIndex, ram = ViewData["Option"] }))</li>
                    }
                    else if (ViewData["State"].Equals("FilterByRom"))
                    {
                        <li>@Html.PagedListPager(Model, pageIndex => Url.Action("FilterProductVersionByROM", "Product", new { pageIndex, rom = ViewData["Option"] }))</li>
                    }
                    else if (ViewData["State"].Equals("FilterByOS"))
                    {
                        <li>@Html.PagedListPager(Model, pageIndex => Url.Action("FilterProductVersionByOS", "Product", new { pageIndex, os = ViewData["Option"] }))</li>
                    }
                    else if (ViewData["State"].Equals("FilterByScreenSize"))
                    {
                        <li>@Html.PagedListPager(Model, pageIndex => Url.Action("FilterProductVersionByScreenSize", "Product", new { pageIndex, minScreenSize = ViewData["Option"], maxScreenSize = ViewData["Option2"] }))</li>
                    }
                    else if (ViewData["State"].Equals("FilterByBrand"))
                    {
                        <li>@Html.PagedListPager(Model, pageIndex => Url.Action("FilterProductVersionByBrand", "Product", new { pageIndex, brandID = ViewData["Option"] }))</li>
                    }
                    else if (ViewData["State"].Equals("FilterByPrice"))
                    {
                        <li>@Html.PagedListPager(Model, pageIndex => Url.Action("FilterProductVersionByPrice", "Product", new { pageIndex, minPrice = ViewData["Option"], maxPrice = ViewData["Option2"] }))</li>
                    }
                    else
                    {
                        <li>@Html.PagedListPager(Model, pageIndex => Url.Action("SearchProductVersion", "Product", new { pageIndex, keyWord = ViewData["Option"] }))</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

