@model  Model_CellphoneStore.ProductIntroduceMapped
<h3>@Model.Header0</h3>
<p>@Model.Text0</p>
<h4>@Model.Header1</h4>
<p>@Model.Text1</p>
<img src="~/Content/Images/ProductIntroduce/@Model.Image1" width="750" />
<h4 class="state">@Model.Header2</h4>
<p class="state">@Model.Text2</p>
<img class="state" src="~/Content/Images/ProductIntroduce/@Model.Image2" width="750" />
<h4 class="state">@Model.Header3</h4>
<p class="state">@Model.Text3</p>
<img class="state" src="~/Content/Images/ProductIntroduce/@Model.Image3" width="750" />
<h4 class="state">@Model.Header4</h4>
<p class="state">@Model.Text4</p>
<img class="state" src="~/Content/Images/ProductIntroduce/@Model.Image4" width="750" />
<h4 class="state">@Model.Header5</h4>
<p class="state">@Model.Text5</p>
<img class="state" src="~/Content/Images/ProductIntroduce/@Model.Image5" width="750" />
<h4 class="state">@Model.Header6</h4>
<p class="state">@Model.Text6</p>
<img class="state" src="~/Content/Images/ProductIntroduce/@Model.Image6" width="750" />
<h4 class="state">@Model.Header7</h4>
<p class="state">@Model.Text7</p>
<img class="state" src="~/Content/Images/ProductIntroduce/@Model.Image7" width="750" />
<h3 class="state">@Model.Footer</h3>
<p class="state">@Model.FooterText</p>
<div class="introduce-bottom">
    <button id="introduce-expand" class="btn btn-danger" onclick="expandIntroduce()">Xem thêm</button>
</div>